/* ===============================
   ESTILOS GENERALES
   =============================== */

html{
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
    margin-bottom: 100vh; /* Ajusta el valor según la altura de tu footer */
    margin: 0;
}

.pestaña{
    width:100%;
    overflow: hidden;
}

/* Título del restaurante */
h1 {
    font-size: 4vw;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 2;     /* colocar el nombre del restaurante encima del video */
    font-family: cursive; 
    color: white; 
}

/* Títulos del menú */
h2 {
    background-color: rgba(0, 0, 0, 0.7);   /* fondo semitransparente */
    color: white;   /* color de las letras */
    padding: 10px;  /* espacio alrededor del título */
    margin: 0;  /* eliminar el margen por defecto del título */
    width: 100%;
    box-sizing: border-box;
    height: auto;
    font-size: 2vw; 
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

/* Títulos principales correspondientes a los textos */
.titulo1{
    font-size: 3vw;
    font-family: Tahoma;
    text-align: center;
}

/* Títulos página Nosotros y Blog */
.titulo2{
    font-size: 2.5vw;
    font-family: 'Optima';
    text-align: center;
}

/* Título página Nuestra carta */
.titulo3{
    font-size: 2vw;
    font-family: 'Optima';
    text-align: center;
}

/* Títulos párrafos Nosotros */

.tituloN{
    font-size: 1.8vw;
    font-family: 'Avenir';
}

/* Títulos párrafos Carta */

.tituloM{
    font-size:1.8vw;
    font-family: 'Avenir';
    text-align: center;
}

/* Títulos párrafos Blog */

.tituloC{
    font-size:1.8vw;
    font-family: 'Avenir';
}

/* Texto de toda la página web */
.texto{
    text-align: justify; /* Centra el texto horizontalmente */
    font-family: 'Avenir Next';
    font-size: 1.4vw;
}

/* ===============================
   BARRA NAVEGADORA
   =============================== */

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(253, 146, 107, 0.916);
}

.titulo-barra {
    color:#fff;
    font-size: 1rem;
    margin-left: 20px;
    box-sizing: border-box;
}

.navegacion a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    justify-content: space-between;
    display: inline;
    margin-right: 20px;
    box-sizing: border-box;
}

/* ===============================
   CONTENIDO PRINCIPAL
   =============================== */

.main-content {
    flex: 1;
    max-height:4%;
}

.columnas {
    display: flex;  /* crear dos columnas */
    background-color: #febca7;
}

/* ===============================
   PÁGINA INICIAL
   =============================== */

/* Columna izquierda - video y nombre del restaurante */
.columna.izquierda {
    position: relative;
    width: 40%;
    background-color: #febca7;
    display: flex;
    flex-direction: column;
}

    /* estilo del video */
.columna.izquierda video {
    flex-grow: 1;
    width: 92%;
    height: auto;
    z-index: 1;     /* colocar el video detrás como fondo del nombre */
    margin:4%;
}

/* Columna derecha - menú */
.columna.derecha {
    width: 60%;
    background-color: #FFCCBC;
    display: flex;  /* contenedor flexible */
    flex-wrap: wrap; /* para ajustarlas a varias lineas */
    align-items: center;    /* alineación vertical centrada */
}

.cajas {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* para ajustarlas a varias lineas */
    justify-content: center; /* alineación horizontal centrada */
    align-items: center;
}
    /* estilo de cada caja perteneciente al menú */
.caja {
    text-align: center;
    margin: 5px;    /* para definir el espacio entre las cajas */
    box-sizing: border-box;
    width: 45%;
    margin-left: 5px;
}

    /* estilo de las imágenes de las cajas */
.caja img {
    width: 100%; /* Ajusta el ancho máximo de la imagen al tamaño de la caja */
    height:100%;
    object-fit: cover;
    cursor: pointer;
}

.caja a {
    display: block;     /* Hace que el enlace ocupe todo el ancho de la caja */
}

a {
    color: white;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.separador{
    width: 100%;
    height: 2vw;
    background-color: rgba(253, 146, 107, 0.916);
}

.separador-final{
    width: 100%;
    height: 8vw;
    background-color: rgba(0, 0, 0, 0.4);
}

/* ===============================
   PÁGINA 2 - NOSOTROS
   =============================== */

/* Columna izquierda */
.columna-nosotros-izq{
    width: 60%;
    background-color: #FFCCBC;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

/* Columna derecha */
.columna-nosotros-dcha {
    width: 40%;
    background-color: #febca7;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-right: 1%;
}

.columna-nosotros-dcha h3 {
    background-color: #febca7;
    color: white;
    padding: 4%;
}

/* Galería de imágenes */
.grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(35%)); /* Ajusta los valores según sea necesario */
    gap: 2%; /* Espacio entre las imágenes */
    padding: 1%; /* Espacio alrededor de la galería */
    box-sizing: border-box;
    align-items: center; 
    margin-right: 8%;
}

.grid-container .box {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.box:nth-child(1){
    grid-column-start: span 2;
}
.box:nth-child(4){
    grid-column-start: span 2;
}

.grid-container img {
    max-width: 100%;
    max-height: 88%;
    box-sizing: border-box;
}

/* ===============================
   PÁGINA 3 - CARTA
   =============================== */

/* Columna izquierda */
.columna-carta-izq{
    width: 40%;
    background-color: #FFCCBC;
    overflow: hidden;
}

/* Columna derecha */
.columna-carta-dcha {
    width: 60%;
    background-color: #febca7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.columna-carta-izq img{
    width: 100%;
}


.columna-carta-dcha h3{
    border-bottom: 0.5vw solid  rgba(253, 146, 107, 0.916);
    margin-top: 3%;
    margin-bottom: 0%;
}

.columna-carta-dcha h4{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3%;
    margin-left: 3%;
    color: #fff;
}

.contenedor-tres-columnas {
    flex-basis: calc(33.33% - 1%); /* Dividir en tres columnas y aplicar espacio entre ellas */
    margin-right: 10px; /* Espacio entre las columnas (ajusta según desees) */
    box-sizing: border-box; /* Asegura que el margen no afecte el ancho total */
    font-size:1.5vw;
    text-align: justify;
}

.slider{
    width: 800%;
    display:flex;
    overflow: hidden;
    animation: cambio 24s infinite;
}

.slider li{
    list-style: none;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    8.33% {
        margin-left: 0;
    }
    16.67% {
        margin-left: -100%;
    }
    25% {
        margin-left: -100%;
    }
    33.33% {
        margin-left: -200%;
    }
    41.67% {
        margin-left: -200%;
    }
    50% {
        margin-left: -300%;
    }
    58.33% {
        margin-left: -300%;
    }
    66.67% {
        margin-left: -400%;
    }
    75% {
        margin-left: -400%;
    }
    83.33% {
        margin-left: -500%;
    }
    91.67% {
        margin-left: -500%;
    }
    100% {
        margin-left: -600%;
    }
}

/* ===============================
   PÁGINA 4 - BLOG
   =============================== */

/* Columna izquierda */
.columna-blog-izq{
    width: 60%;
    background-color: #FFCCBC;
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: 2%;
    margin-right: 2%; /* Define el margen derecho */
    align-items: center;
    flex-direction: column;
    display: flex;
}

/* Columna derecha */
.columna-blog-dcha {
    width: 40%;
    background-color: #febca7;
    align-items: center;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
}

.columna-blog-dcha h3 {
    background-color:  rgba(0, 0, 0, 0.4);
    padding: 2.5%;
    color: #fff;
    border-radius: 10px; /* Borde circular */
}

.comentario {
    position: relative;
    background-color: rgba(253, 146, 107, 0.916); /* Color de fondo del rectángulo */
    padding: 20px;
    margin-bottom: 20px;
    margin:2%;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 10px; /* Borde circular */
}

.comentario h4 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    background-color: rgba(253, 146, 107, 0.916); /* Color de fondo para las letras */
    padding: 5px;
    border-radius: 10px; /* Borde circular */
}

.comentario-nuevo{
    width: 30vw;
    font-size: 1.2vw;
}

.columna-blog-izq h3{
    margin: 6%; 
    border-bottom: 0.5vw solid  rgba(253, 146, 107, 0.916);
}

.grid-container-blog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
    gap: 1%;
    padding: 1%;
    box-sizing: border-box;
    width: 100%;
    object-fit: cover;
    max-width: 55%;
}

.box-blog {
    object-fit: cover;
    box-sizing: border-box;
    width:100%;
}

.box-blog:nth-child(4) {
    grid-row: span 2; /* Para que ocupe dos columnas en el grid */
    width: 100%; /* Para que ocupe todo el ancho de las dos columnas */
}

.box-blog:nth-child(5) {
    grid-row: span 2; /* Para que ocupe dos filas en el grid */
    width: 100%; /* Para que ocupe todo el ancho de la columna */
}

.grid-container-blog img{
    width: 100%;
}

/* ===============================
   FOOTER
   =============================== */

footer {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vw;;
    z-index: 2;
}
  
.footer-section {
    display: flex;
    height: 100%;
}

.contenedor-redes {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 10vw;
}

.contenedor-info {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 2vw;
}

/* ===============================
   RESPONSIVE
   =============================== */

@media (max-width: 700px) {

    /* Barra navegadora */
    .navegacion{
        position: relative;
        text-align: left;
        display: block;
    }

    .titulo-barra{
        font-size: 3.2vw;
    }

    .navegacion a{
        font-size: 3vw;
    }

    h1 {
        font-size: 10vw;
        font-family: cursive;
        justify-content: center;
    }

    .columnas {
        flex-direction: column; /* Cambiar a dirección de columna en pantallas pequeñas */
        align-items: flex-start; /* Alineación en la parte superior */
    }

    .columna.izquierda,
    .columna.derecha {
        flex: 1; /* Ambas columnas ocupan todo el ancho */
        margin-right: 0; /* Eliminar espacio entre las columnas */
        width: 100%;
        order:1;
    }

    h2 {
        font-size: 4vw;
    }

    .titulo1{
        font-size: 5vw;
    }

    .titulo2{
        font-size: 6vw;
    }

    .titulo3{
        font-size: 4vw;
    }

    .tituloN{
        font-size: 4vw;;
    }

    .tituloM{
        font-size: 4vw;
    }

    .tituloC{
        font-size: 2.5vw;
    }

    .columna-nosotros-izq {
        width: 80%; /* Ocupa todo el ancho de la columna izquierda */
        margin: 7%;
        order:2;
    }

    .columna-nosotros-izq p{
        font-size: 2.7vw;
    }
 
    .columna-nosotros-dcha {
        width: 100%; 
    }

   .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* Cambiamos a columnas automáticas con un ancho mínimo menor */
        margin-right: 4%; /* Eliminamos el margen derecho */
        margin-left: 4%;
    }

    .columna-carta-izq {
        width: 80%; /* Ocupa todo el ancho de la columna izquierda */
        margin-left: 10%;
        margin-right: 1%;
    }

    .columna-carta-dcha {
        width: 100%; /* Ocupa todo el ancho de la columna derecha */
    }

    .columna-carta-dcha h5 {
        font-size: 3.5vw;
    }

    /* Ajustar el tamaño de fuente para pantallas pequeñas */
    .columna-carta-dcha h3 {
        font-size: 5.5vw;
        border-bottom: 1vw solid  rgba(253, 146, 107, 0.916);
    }

    /* Ajustar el tamaño de fuente para pantallas pequeñas */
    .columna-carta-dcha ol {
        font-size: 2.8vw;
        margin-left: 2%; /* Reducir el espacio a la izquierda de la lista */
        border: 1vw solid #ffff;
        padding: 7%;
    }

    .columna-blog-izq {
        order:2;
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin: 0;
    }

    .columna-blog-dcha{
        order:1;
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin-right: 0;
    }

    .grid-container-blog {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); /* Cambiamos a columnas automáticas con un ancho mínimo menor */
        margin-right: 0; /* Eliminamos el margen derecho */
    }

    .comentario {
        position: relative;
        background-color: rgba(253, 146, 107, 0.916); /* Color de fondo del rectángulo */
        padding: 2%;
        margin-bottom: 20%;
        margin:2%;
        margin-left: 6%;
        margin-right: 6%;
        border-radius: 10px; /* Borde circular */
        font-size:3vw;
        z-index: 1;
    }

    .comentario-nuevo{
        width: 40vw;
        font-size: 2vw;
    }

    .boton-enviar {
        width: 10vw;
        font-size: 2vw;
    } 

    .comentario p{
        z-index: 2;
        font-size: 3vw;

    }
    
    .comentario h4 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px;
        background-color: rgba(253, 146, 107, 0); /* Color de fondo para las letras */
        padding: 5px;
        border-radius: 10px; /* Borde circular */
        z-index: 1;
    }
    
    .columna-blog-izq h3{
        margin: 3%; 
        border-bottom: 0.5vw solid  rgba(253, 146, 107, 0.916);

    }  
    .icono-footer img {
        width: 78%; /* Ajusta el ancho deseado */
   
    }

    .contenedor-info{
        font-size: 80%;
    }

    .columna-carta-izq{
        margin-top: 20%;
        }

    .contenedor-info a {
        font-size: 2vw;
    }
}


@media (max-width: 890px) {

    .grid-container {
        max-width: 100%;
        max-height: 100%;
    }
    


    .columna-nosotros-izq{
       font-size: 1.6vw;
    }
}

@media (max-width: 1100px) {
    .grid-container-blog {
    
        max-width: 82%;
    }

    .columna-carta-izq{
    margin-top: 10%;
    }

}